/* Importando la fuete para usarla en todo el proyecto */
@import "fonts.css";

*{
  font-family: "Hurme Geometric Sans No.4";
}

/* Estilos globales */
body, html {
  padding: 0;
  margin: 0;
  color: white;
}

a{
  color: #4BACD5;
}

/* Head */

.head{
  margin-left: 260px;
}

/* Head */

/* Background */
.background {
  top: 0px;
  left: 0px;
  width: 98.93vw;
  background: transparent url('../img/Grupo 285.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.layer{
  padding: 70px 150px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: space-around; */
}

.form .layeranun{
  font-weight: bold;  
}

.form .anuncio{
  font-size: 35px;
  font-weight: bold;
}

.form .signal{
  margin-left: 25px;
  margin-bottom: -100px;
  /* border: solid; */
  width: 22px;
  font-size: 32px;
  color: #FF6319;
}

.form #price{
  height: 80px;
  margin-left: 50px;
  margin-top: 42px;
  background: transparent url('../img/Trazado 3546.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.form form{
  padding: 0px 25px;
  width: 260px;
  background-color: white;
  color: black;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;

  display: flex;
  flex-direction: column;
}

.form form span{
  color: #FF6319;
}

.form #TextInForm{
  margin-top: 13px;
  font-size: 25px;
  font-weight: bold;
  color: #002395;
}

.form #TextInFormHelp{
  opacity: .5;
}

.form form input{
  outline: none;
  margin-bottom: 30px;
}

.form form input{
  border: transparent;
  padding: 10px;
}

.form form input[type="checkbox"]{
  margin-bottom: 0px;
}

.form form #checkboxl{
  margin-bottom: 30px;
}

.form form .btnlayer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form .btnSend{
  width: 205px;
  height: 55px;
  background: transparent url('../img/rectangle-1-1.svg') 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #00000062;
  border-radius: 55px;
  opacity: 1;

  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* Background */

.content{

  color: black !important;

  width: 98.93vw;
  height: 90vh;

  background: transparent url('../img/Trazado compuesto.svg') 0% 0% no-repeat padding-box;
  /* opacity: 0.13; */
}

.footer{
  max-width: 100%;
  height: 50px;

  background: transparent url('../img/Grupo 280.svg') 0% 0% no-repeat padding-box;
}